.warning {
    color: #993456;
}

.infobox {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    vertical-align: top;
}

.figure {
    margin: auto;
    width: 600px;
    height: 400px;
}

.svg-plot, .canvas-plot {
    position: absolute;
}
