<html>
    <head>
      {% if title %}
      <title>{{ title }} - Data server</title>
      {% else %}
      <title> Welcome to Data server </title>
      {% endif %}
      <link href={{ url_for('static', filename='pohja.css') }}
	    rel="stylesheet">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
