{% extends "base.html" %}

{% block content %}
<div class="submissions contentbox">
  <table>
    <tr>
      <td> id </td>
      <td> measure date </td>
      <td> submission date </td>
      <td> fieldform file name </td>
      <td> datafile name </td>
    </tr>
    {% for d in sub_data: %}
    <tr>
      <td> {{ d.id }} </td>
      <td> {{ d.measure_date }} </td>
      <td> {{ d.date }} </td>
      <td> {{ d.fieldfilename }} </td>
      <td> {{ d.datafilename }} </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="fieldforms contentbox">
  <table>
    <tr>
      <td> submission_id </td>
      <td> date </td>
      <td> siteid </td>
      <td> subsiteid </td>
      <td> point </td>
      <td> start_time </td>
      <td> end_time </td>
    </tr>
    {% for d in field_data %}
    <tr>
      <td> {{ d.submission_id }} </td>
      <td> {{ d.date }} </td>
      <td> {{ d.siteid }} </td>
      <td> {{ d.subsiteid }} </td>
      <td> {{ d.point }} </td>
      <td> {{ d.start_time }} </td>
      <td> {{ d.end_time }} </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
